create_partial_put

What is a partial put?

some info can be found in it's counter-part `process_partial_put` https://github.com/for-GET/http-decision-diagram/blob/c09718316ac87237f3a600016ec14dece4854523/doc/README_process.md#process_partial_put-bin

and in RFC 7231 https://tools.ietf.org/html/rfc7231#section-4.3.4

>    An origin server that allows PUT on a given target resource MUST send
   a 400 (Bad Request) response to a PUT request that contains a
   Content-Range header field (Section 4.2 of [RFC7233]), since the
   payload is likely to be partial content that has been mistakenly PUT
   as a full representation.  Partial content updates are possible by
   targeting a separately identified resource with state that overlaps a
   portion of the larger resource, or by using a different method that
   has been specifically defined for partial updates (for example, the
   PATCH method defined in [RFC5789]).

Let me know if this doesn't clarify your question.

Is there a list of descriptions of these decision labels? It's very difficult to follow the flow looking at these relatively obscure labels.

I currently don't have any other docs, except for
https://github.com/for-GET/http-decision-diagram/tree/master/doc
What may be useful is to look at an early PoC based on the diagram
https://github.com/for-GET/machine/tree/master/src/FSMResource

On Wed, Nov 29, 2017 at 1:34 PM, Mardoxx <notifications@github.com> wrote:

> Is there a list of descriptions of these decision labels? It's very
> difficult to follow the flow looking at these relatively obscure labels.
>
> —
> You are receiving this because you commented.
> Reply to this email directly, view it on GitHub
> <https://github.com/for-GET/http-decision-diagram/issues/48#issuecomment-347847422>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AArOQaQZAp-Fpoa4slxhs_Q9lX_-7S19ks5s7U9ngaJpZM4P_X55>
> .
>



-- 
andreineculau.com <http://www.andreineculau.com>
